@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
  text-decoration: none;
  color: #222;
}

body{
  background-color: #f5f5f5;
}

section.wrap{
  width: 1580px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 180px;
  padding-top: 50px;
}

header .logo_box{
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;
}

header nav.main_nav{
  display: flex;
  position: relative;
  align-items: center;
  width: 600px;
  height: 50px;
  margin: 0 300px 20px 0;
}

.underline {
  position: absolute;
  left: 32px;
  bottom: -2px;
  width: 15%;
  height: 3px;
  background: #ee82ee;
  transition: all .3s ease-in-out;
}

nav a:nth-child(1).is-current ~ .underline {
  left: calc(0 + 32px);
}
nav a:nth-child(2).is-current ~ .underline {
  left: calc(25% + 32px);
}
nav a:nth-child(3).is-current ~ .underline {
  left: calc(50% + 32px);
}
nav a:nth-child(4).is-current ~ .underline {
  left: calc(75% + 32px);
}

nav a:nth-child(1):hover ~ .underline {
  left: calc(0 + 32px);
}
nav a:nth-child(2):hover ~ .underline {
  left: calc(25% + 32px);
}
nav a:nth-child(3):hover ~ .underline {
  left: calc(50% + 32px);
}
nav a:nth-child(4):hover ~ .underline {
  left: calc(75% + 32px);
}

header nav.main_nav > a{
  font-size: 18px;
  font-weight: 600;
  color: #555;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 25%;
}

header nav.main_nav > a:hover{
  transition: 0.3s;
  color:#ee82ee;
}

/* 로그인 박스 */
header .login_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 195px;
  margin-bottom: 20px;
}

/* dropdown css 시작 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* 드롭다운 레이아웃 */
#dropdown-login {
  margin-top:10px;
  display: none;
  position: absolute;
  width: 250px;
  height: 200px;
  min-width: 160px;
  z-index: 10;
  background-color: white;
}

#login-form{
  padding: 15px;
  align-items: center;
}

#login-form > p {
  font-weight: bold;
  margin-bottom: 10px;
}

#login-form .loginline {
  width: 100%;
  height: 2px;
  background: #ee82ee;
  
  margin-bottom: 15px;	
}

#login-div {
  display: none;
  background-color: #fff;
  margin: 20px;
  flex-direction: row;
  border: 1px solid #fff;
  border-radius: 15px;
}

#input-div > input {
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
  border: 1px solid #ee82ee;
  border-radius: 2px;
  
  text-indent: 12px;
}

#input-div > input:focus {
  outline: none;
}

#forgotInfo {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;	
}

#forgotInfo > p {
	font-weight: bold;
	font-size: 12px;
	color: #ee82ee;
}

.dropdown_botton{
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #ee82ee;
  width: 100%;
  height: 45px;
  border: 0;
}

/* dropdown css 끝 */

header .login_box > .dropdown > span.loginForm, header .login_box > a{
  display: block;
  width: 75px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

header .login_box > a {
  width: 95px;
  color: white;
  background-color: #ee82ee;
  border-radius: 8px;
}

header .login_box > a > span{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

header .login_box > .dropdown > span.loginForm:hover{
  color:#ee82ee;
  transition: 0.5s;
}

/* header끝 */

/* 여기부터 footer */
.footer_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  width: 100%;
  margin-top: 80px;
  padding: 0 100px;
  border-top: 2px solid #ddd;
}

.footer_box{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

.div_terms{
  margin-bottom: 10px;
}

.btn_terms{
  cursor: pointer;
  font-size: 16px;
  color: #444;
}


.div_cpy_info{
  height: 100px;
  line-height: 30px;
}

.div_cpy_info p{
  font-size: 16px;
  color: #444;
}

.footer_image{
  width: 200px;
  text-align: right;
}

.footer_image img{
  width: 150px;
  filter: grayscale(100%);
}

.footer_image .sns_box{
  display: flex;
  justify-content: first baseline;
}

.sns_box .sns > img{
  width: 30px;
  height: 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}