<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot.FinalProject.dao.IBoardDAO">
  	
  	<!-- 로그인 확인(조건) -->
  	<select id="selectNotice" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.BoardVO">
  		SELECT *
  		  FROM board
  		  JOIN user ON board.userId = user.userId
  		 WHERE title LIKE CONCAT('%',#{title},'%') AND contents LIKE CONCAT('%',#{contents},'%')
  	</select>
  	
  	<!-- 로그인 확인(전체) -->
  	<select id="selectNoticeOR" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.BoardVO">
  		SELECT *
  		  FROM board
  		  JOIN user ON board.userId = user.userId
  		 WHERE title LIKE CONCAT('%',#{title},'%') OR contents LIKE CONCAT('%',#{contents},'%')
  	</select>

</mapper>