<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot.FinalProject.dao.IBoardDAO">
  	
  	<!-- 로그인 확인(조건) -->
  	<select id="selectNotice" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.BoardVO">
  		SELECT board.*, user.userName, COUNT(*) OVER() AS rowCnt
  		  FROM (SELECT * FROM board WHERE category = 1) AS board
  		  JOIN user ON board.userId = user.userId
  		 WHERE board.title LIKE CONCAT('%',#{title},'%') AND board.contents LIKE CONCAT('%',#{contents},'%')
  		 ORDER BY board.boardId DESC
  		 LIMIT 10 OFFSET #{pageNum}
  	</select>
  	
  	<!-- 로그인 확인(전체) -->
  	<select id="selectNoticeOR" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.BoardVO">
  		SELECT board.*, user.userName, COUNT(*) OVER() AS rowCnt
  		  FROM (SELECT * FROM board WHERE category = 1) AS board
  		  JOIN user ON board.userId = user.userId
  		 WHERE board.title LIKE CONCAT('%',#{title},'%') OR board.contents LIKE CONCAT('%',#{contents},'%')
  		 ORDER BY board.boardId DESC
  		 LIMIT 10 OFFSET #{pageNum}
  	</select>

  	<!-- 공지사항 세부 내용 조회 -->
  	<select id="noticeDetailView" parameterType="String" resultType="com.spring_boot.FinalProject.model.BoardVO">
  	<![CDATA[
		SELECT board.*, user.userName,
		       (SELECT title FROM board WHERE boardId < #{boardId} ORDER BY boardId DESC LIMIT 1) AS prevTitle,
		       (SELECT title FROM board WHERE boardId > #{boardId} ORDER BY boardId LIMIT 1) AS nextTitle
		  FROM board
		  JOIN user ON board.userId = user.userId
		 WHERE boardId = #{boardId}
		   AND category = 1
	  ORDER BY board.boardId DESC
	]]>   		
  	</select>
  	
  	<!-- 문의하기 작성 -->
  	<insert id="insertContact" parameterType="com.spring_boot.FinalProject.model.UserVO">
  		INSERT into board
  		(userId, title, contents, chkEmail, chkFile, category, chkYN)
  		VALUES(#{userId}, #{title}, #{contents}, #{chkEmail}, #{chkFile}, 2, 0)
  	</insert>
  	
  	 <!-- 등록업체  -->
  	<select id="selectRegistration" parameterType="String" resultType="com.spring_boot.FinalProject.model.InsertHotelVO">
  		SELECT * FROM registration
  	</select>
  	
</mapper>