<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot.FinalProject.dao.IHotelDAO">
  	
  	<!-- 숙박펜션 조회 기능 -->
  	<select id="selectHotel" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.StayVO">
  	<![CDATA[
  		SELECT *, 
  			   (SELECT MAX(price) FROM room WHERE stay.stayNo = room.stayNo) AS price,
  			   COUNT(*) OVER() AS rowCnt 
  		  FROM stay
  		 WHERE stateId = #{stateId}
  		   AND maxManCnt = #{maxManCnt}
  		   AND maxPetCnt = #{maxPetCnt}
  		   AND startDate >= DATE_FORMAT(#{startDate}, '%Y-%m-%d') 
  		   AND endDAte <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
  	]]>	   
	</select>
</mapper>