<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot.FinalProject.dao.IHotelDAO">
  	
  	<!-- 숙박펜션 조회 기능 -->
  	<select id="selectHotel" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.StayVO">
  	<![CDATA[
  		SELECT *, 
  			   (SELECT MAX(price) FROM room WHERE stay.stayNo = room.stayNo) AS price,
  			   '' AS mainImg,
  			   COUNT(*) OVER() AS rowCnt 
  		  FROM stay
  		 WHERE stateId = #{stateId}
  		   AND maxManCnt >= #{maxManCnt}
  		   AND maxPetCnt >= #{maxPetCnt}
  		 ORDER BY (CASE #{num} WHEN '0' THEN stay.stayNo END) ASC,
  		          (CASE #{num} WHEN '1' THEN stay.star END) DESC,
  		          (CASE #{num} WHEN '2' THEN (SELECT MAX(price) FROM room WHERE stay.stayNo = room.stayNo) END) ASC,
  		          (CASE #{num} WHEN '3' THEN (SELECT MAX(price) FROM room WHERE stay.stayNo = room.stayNo) END) DESC             
   	]]>	   
	</select>
	
  	<!-- 숙박펜션 세부화면 조회 기능 -->
  	<select id="selectDetailHotel" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.StayVO">
		SELECT *
		  FROM stay
		 WHERE stayNo = #{stayNo}   
	</select>
	
  	<!-- 숙박펜션 세부화면 조회 기능 -->
  	<select id="selectDetailRoom" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.RoomVO">
		SELECT *
		  FROM room
		 WHERE stayNo = #{stayNo}   
	</select>
	
  	<!-- 숙박펜션 편의시설1 세부화면 조회 기능 -->
  	<select id="selectDetailFacility1" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.FacilityVO">
		SELECT *
		  FROM facilityroom
		  JOIN facility ON facilityroom.facilityId = facility.facilityId
		 WHERE facilityroom.stayNo = #{stayNo}
		   AND facilitySort = '1'   
	</select>
	
	<!-- 숙박펜션 편의시설2 세부화면 조회 기능 -->
  	<select id="selectDetailFacility2" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.FacilityVO">
		SELECT *
		  FROM facilityroom
		  JOIN facility ON facilityroom.facilityId = facility.facilityId
		 WHERE facilityroom.stayNo = #{stayNo}
		   AND facilitySort = '2'   
	</select>
	
	<!-- 숙박펜션 편의시설3 세부화면 조회 기능 -->
  	<select id="selectDetailFacility3" parameterType="hashmap" resultType="com.spring_boot.FinalProject.model.FacilityVO">
		SELECT *
		  FROM facilityroom
		  JOIN facility ON facilityroom.facilityId = facility.facilityId
		 WHERE facilityroom.stayNo = #{stayNo}
		   AND facilitySort = '3'   
	</select>
</mapper>