@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
  text-decoration: none;
  color: #222;
}

body{
  background-color: #f5f5f5;
}

section.wrap{
  width: 1580px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 180px;
  padding-top: 50px;
}

header .logo_box{
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;
}

header nav.main_nav{
  display: flex;
  position: relative;
  align-items: center;
  width: 600px;
  height: 50px;
  margin: 0 300px 20px 0;
}

.underline {
  position: absolute;
  left: 32px;
  bottom: -2px;
  width: 15%;
  height: 3px;
  background: #ee82ee;
  transition: all .3s ease-in-out;
}

nav a:nth-child(1).is-current ~ .underline {
  left: calc(0 + 32px);
}
nav a:nth-child(2).is-current ~ .underline {
  left: calc(25% + 32px);
}
nav a:nth-child(3).is-current ~ .underline {
  left: calc(50% + 32px);
}
nav a:nth-child(4).is-current ~ .underline {
  left: calc(75% + 32px);
}

nav a:nth-child(1):hover ~ .underline {
  left: calc(0 + 32px);
}
nav a:nth-child(2):hover ~ .underline {
  left: calc(25% + 32px);
}
nav a:nth-child(3):hover ~ .underline {
  left: calc(50% + 32px);
}
nav a:nth-child(4):hover ~ .underline {
  left: calc(75% + 32px);
}

header nav.main_nav > a{
  font-size: 18px;
  font-weight: 600;
  color: #555;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 25%;
}

header nav.main_nav > a:hover{
  transition: 0.3s;
  color:#ee82ee;
}

header .login_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 195px;
  margin-bottom: 20px;
}

/* dropdown css 시작 */
.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-login {
  margin-top:10px;
  display: none;
  position: absolute;
  border: 1px solid #ee88ee;
  width: 250px;
  height: 150px;
  min-width: 160px;
  z-index: 1;
  border-radius: 8px;
}

.show {
  display: block !important;
}


.dropdown_botton{
  font-weight: 600;
  font-size: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #ee82ee;
  border-color: #eeeeee;
  width:100%;
  height:56px;
  box-shadow: none;
  outline: none;
  
}

#login-div {
  display: none;
  background-color: #fff;
  margin: 20px;
  flex-direction: row;
  border-style: solid;
  border-radius: 15px;
  border-color: #fff;
  border-width: 1px;
}

#input-div >input{
  width: 150px;
  margin: 5px;
  border-style: solid;
  background-color: #ee88ee;
  color: #ee88ee;
  border-radius: 5px;
  appearance: none;

}

#login-form{
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  margin-top:25px;
}

/* dropdown css 끝 */
header .login_box > .dropdown > span.loginForm, header .login_box > a{
  display: block;
  width: 75px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

header .login_box > a {
  width: 95px;
  background-color: #ee82ee;
  border-radius: 8px;
}

header .login_box > a > span{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

header .login_box > .dropdown > span.loginForm:hover{
  color:#ee82ee;
  transition: 0.5s;
}

/* header끝 */

/* 여기부터 footer */
.footer_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  width: 100%;
  margin-top: 80px;
  padding: 0 100px;
  border-top: 2px solid #ddd;
}

.footer_box{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

.div_terms{
  margin-bottom: 10px;
}

.btn_terms{
  cursor: pointer;
  font-size: 16px;
  color: #444;
}


.div_cpy_info{
  height: 100px;
  line-height: 30px;
}

.div_cpy_info p{
  font-size: 16px;
  color: #444;
}

.footer_image{
  width: 200px;
  text-align: right;
}

.footer_image img{
  width: 150px;
  filter: grayscale(100%);
}

.footer_image .sns_box{
  display: flex;
  justify-content: first baseline;
}

.sns_box .sns >img{
  width: 30px;
  height: 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons.md-36 { font-size: 36px; }