/* 게시판 공통 */
th {
  background: #ee82ee;
  color: #fff;
  
  text-align: center;
  
  padding: 15px 15px;
  border-left: 1px solid #c6c9cc;
}

/* 제목레이아웃 */
.pageTitle {
  text-align: center;
  
  margin: 30px auto;	
}

.pageTitle > div {
  background-color: #fff;
  border-radius: 20px;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
  display: inline-block;
  
  line-height: 60px;
}

.pageTitle > div > span {
  margin: 0 22px;
  font-size: 25px;
  font-weight: bold;
}

/* 테이블 번호 크기 고정 */
th.num {
	width: 80px;
}

/* 테이블 작성자, 작성일 크기 고정 */
th.author, th.date {
	width: 240px;
}

td {
	padding: 10px 15px;
	border-right: 1px solid #c6c9cc;
	border-bottom: 1px solid #c6c9cc;
}

td:first-child {
	border-left: 1px solid #c6c9cc;
}

/* 페이징 레이아웃 */
.paging-box {
	margin-top: 30px;
	text-align: center;
}

.paging-box > ul {
	list-style: none;
}

/* 간격 조정 */
.paging-box > ul > li {
	display: inline-block;
	margin-left: 3px;
}

.paging-box > ul > li.prevPager {
	margin-right: 10px;
}

.paging-box > ul > li.nextPager {
	margin-left: 10px;
}

.paging-box > ul > li > a {
	display: block;
	position: relative;
	padding: 7px 0 8px;
	min-width: 30px;
	border: 1px solid black;
	font-size: 14px;
	box-sizing: border-box;
}

.paging-box > ul > li > a:hover {
	background-color: #636363;
	color: #fff;
}

.paging-box > ul > li > a:active {
	background-color: #636363;
	color: #fff;	
}
