.payment_box{
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ee82ee;
    width: 600px;
    height: 900px;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .payment_box .payment_title > p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0 40px 0;
  }